/* common_general_rules */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 90%;
	background-color: #000;
	margin: auto;
	font-family: "Acme", sans-serif;
}

#animalColor {
	color: #0000ff;
}

#vegetableColor {
	color: #ffa500;
}

#userColor {
	color: #800080;
}
/* /common_general_rules */

/* #site_header */
#site_header {
	background-color: #fff;
}

h1 {
	color: #29b1dd;
	margin: 0 1.5rem;
}

.row_select {
	height: 50px;
	justify-content: center;
	background-color: #29b1dd;
	color: #fff;
}

h2 {
	margin: 0 1rem;
	font-size: 18px;
	line-height: 50px;
}

#level {
	height: 60%;
	line-height: 50px;
	margin: 0.5rem 0;
}
/* /#site_header */

/* #site_main */
#site_main {
	background-color: #dddddd;
}

.col {
	height: 100px;
	width: 18%;
	margin: 2rem 0.8rem;
}

.col:hover {
	cursor: pointer;
}

.col > i::before {
	font-size: 40px;
}

.col.animal i {
	color: #0000ff;
}

.col.vegetable i {
	color: #ffa500;
}

.col.user i {
	color: #800080;
}
/* /#site_main */
